.fish_wrap {
    /* border: 5px solid black; */
    position: absolute;
    height: 125px;
    width: 200px;
    z-index: 100;
    animation: swim1 var(--animation-time) ease infinite;
}

.fish1 {
    transform: rotate(-37deg);
}

.fish_body {
    transform: skewX(30deg) skewY(5deg);
    /* background: linear-gradient(145deg, rgb(255,94,0), 72%, rgb(2,83,235)); */
    background: linear-gradient(var(--degree), rgb(var(--colorOneR), var(--colorOneG), var(--colorOneB)), var(--percent), rgb(var(--colorTwoR), var(--colorTwoG), var(--colorTwoB)));    
    border-radius: 200px 112px 47px 362px;
    box-shadow: 6px -12px 15px #3A2104 inset, -2px -3px 4px #281602 inset;
    height: 72px;
    position: absolute;
    width: 92px;
}

.eye {
    transform: rotate(50deg);
    background-color: rgb(216, 214, 214);
    border: 1px solid #323232;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 4px 3px #3D270A;
    height: 27px;
    left: 40px;
    position: absolute;
    top: -1px;
    width: 10px;
}

.eye:before {
    /*fish eye pupil*/
    border: 2px solid #01090a;
    border-radius: 10px 10px 10px 10px;
    content: "";
    height: 7px;
    left: 1px;
    position: absolute;
    top: 11px;
    width: 2px;
}

.scale_1 {
    transform: rotate(35deg);
    border-radius: 60px 60px 60px 60px;
    border-right: 2px solid #432801;
    height: 28px;
    left: 38px;
    position: absolute;
    top: 8px;
    width: 36px;
}

.scale_2 {
    transform: rotate(35deg);
    border-radius: 60px 60px 60px 60px;
    border-right: 2px solid #432801;
    height: 28px;
    left: 30px;
    position: absolute;
    top: 27px;
    width: 36px;
}

.scale_3 {
    transform: rotate(35deg);    
    border-radius: 60px 60px 60px 60px;   
    border-right: 2px solid #432801;
    height: 28px;
    left: 47px;
    position: absolute;
    top: 19px;
    width: 36px;
}

.scale_4 {
    transform: rotate(35deg);    
    border-radius: 60px 60px 60px 60px;    
    border-right: 2px solid #432801;
    box-shadow: -5px -1px 4px black inset;    
    height: 32px;
    left: 33px;
    position: absolute;
    top: 29px;
    width: 19px;
}

.top_fin {
    transform: skewX(30deg) skewY(8deg);    
    background-color: rgb(var(--colorOneR), var(--colorOneG), var(--colorOneB));
    border-radius: 200px 112px 47px 62px;    
    box-shadow: -7px -8px 9px black inset;   
    height: 20px;
    left: 54px;
    position: absolute;
    top: 7px;
    width: 42px;
}

.tail_fin {
    transform: skewX(30deg) skewY(5deg);    
    background-color: rgb(var(--colorTwoR), var(--colorTwoG), var(--colorTwoB)); /*matches second rgb from body*/
    border-radius: 200px 112px 47px 62px;    
    box-shadow: -15px -7px 9px #000604 inset;    
    height: 32px;
    left: 100px;
    position: absolute;
    top: 46px;
    width: 42px;
}

.tail_fin:before {
    transform: skewX(30deg) skewY(5deg);   
    background-color: rgb(var(--colorTwoR), var(--colorTwoG), var(--colorTwoB));
    border-radius: 62px 112px 112px 200px;
    box-shadow: 6px 13px 9px #2F1E01 inset, -6px -7px 2px black inset;
    content: "";
    height: 32px;
    left: -12px;
    position: absolute;
    top: 28px;
    width: 38px;
}

/* start of fish animation */

@keyframes swim1 {
    from {
        transform: scale3d(1);
        left: 1000px;
        top:15px;
    }

     10% {
        left: 150px;
        top: -60px;
        transform: scale3d(1);
        z-index: 90;
    }

    12% {
        transform: scale3d(1);
        top: -10px;
        z-index: 10;
    }

    15% {
        left: 125px;
        top: 5px;
        z-index: auto;
    }

    20% {
        left: 0px;
        transform: scale3d(-1);
        z-index: 10;
    } 

    20.5% {
        transform: scaleX(1);
        z-index: 10;
        left: -30px;
    }

    25% {
        left: 15px;
    }

    30% {
        left: 45px;
        top: 12px;
    }

    33.5% {
        left: -75px;
    }

    40% {
        left: -10px;
    } 

    50% {
        z-index: 28;
        top: 130px;
        left: -10px;
        transform: scaleX(-1);
    }
    50.5% {
        transform: scaleX(-1);
        z-index: 100;
        left: 0px;
        top: 160px;
    }
   
    60% {
        left: 70px;
        z-index: 150;
    }

    61% {
        left: 115px;
        z-index: 90;
        transform: scaleX(-1);
    }
    68% {
        left: 155px;
    }

    75% {
        left: 255px;
    }

    80% {
        left: 800px;
    }

    85% {
        left: 825px;
    }
     87% {
        left: 840px;
        top: 6px;
    }
    90%{
        left: 875px;
        top: 8px;
    } 
    92% {
        transform: scaleX(-1);
        top: 10px;
    }
    92.5% {
        top: 12px;
        left: 925px;
    }
    94% {
        left: 935px;
    }
    95% {
        left: 960px;
    }
    95.5% {
        left: 960px;
        top: 13px;
    }
    96% {
        left: 1000px;
        top: 15px;
    }
    98% {
        transform: scale3d(1);
    }
    to {
        transform: scaleX(-1);
        left: 1000px;
        z-index: 90;
    }
}

/*end of fish path */

.tail_fin {
    animation-name: tail;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes tail {
    from {
        transform: scale(.8)skewY(2deg);
    }
    50% {
        transform: scale(.7)skewY(20deg);
    }
    to {
        transform: scale(.8)skewY(2deg);
    }
}
/*end of tail fin*/

.scale_4 {
    /*mid fin*/
    animation-name: midfin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes midfin {
    from {
        transform: scale(.8)rotate(15deg);
    }
    50% {
        transform: scale(.6)skewY(30deg)rotate(15deg);
    }
    80% {
        transform: scale(.8)skewY(10deg)rotate(25deg);
    }
    to {
        transform: scale(.8)skewY(10deg)rotate(15deg);
    }
}
/*end of mid fin*/

.eye {
    /*blink effect*/
    animation-name: blink;
    animation-duration: 5.7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;   
}

@keyframes blink {
    from {
        background-color: white;
    }
    49% {
        background-color: white;
        height: 27px;
        width: 10px;
    }
    50% {
        background-color: #070707;
        height: 20px;
        width: 5px;
    }
    52% {
        background-color: white;
        height: 27px;
        width: 10px;
    }
    to {
        background-color: white;
    }
}


