.home {
    background-image: url("../../Images/aquarium2.jpg");
    min-height: 950px; 
    background-size: cover;
    background-position: center;
    position: relative;
    background-repeat: no-repeat;
  }

#linkBox {
  background-image: url("../../Images/Backgrounds/purpleTexture-background.jpg");
  border: 3px solid rgb(15, 153, 130);  
  border-radius: 10px;
}
