.login {
  background: url("../../Images/background.gif"); 
  max-width: 100%;
  height: 975px;
  background-size: cover;
  background-position: center;
  position: relative; 
  background-repeat: no-repeat;
}

.button {
  position: absolute;
  top: 30%;
  left: 40%;
}

h1 {
  margin: 0px;
  color: white;
  text-align: center;
}