.meetTeam {
    font-family: 'Oleo Script', cursive;
}

.groupPic {
    width: 380px;
    margin-top: 15;
    padding: 0;
    margin-right: 0;
    height:550px
}

.hireSign {
    font-family: 'Oleo Script', cursive;
    background-color: white;    
    border-radius: 5%;    
    margin-top: 5%
}

.repo{
    font-size: 20px;
    color: green;
    
}

.hireBtn {
    margin-top: 5%;
    background-color: #e91e63; 
    margin-bottom: 5%;
}

.sectionTitles{
    font-size: 30px;
}

.portSpacing{
    margin-top: 40px;
    padding-bottom: 10px;
    padding: 3%;
    margin-left:13%

}

.port{
    padding-bottom: 5%;
}