body {
    background-color: white;
    margin: 0px;
    padding-bottom: 15px;
}

.lowerFishToTank {
    position: relative;
    top: 230px;
}

.lowerFishToTank2 {
    position: relative;
    top: 250px;
}

/* start of wrap */

#wrap {
    width: 100%;
    padding: 0 5%;
    margin: auto;
    margin-top: -10px;
    position: relative;
}

.clear {
    clear: both;
}


/* end of wrap */

.window {    
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 20;
    box-shadow: 2px 7px 7px rgb(1, 8, 12), -12px 15px 15px rgb(1, 8, 12); 
}


/*  fish tank   */

.fishtank_wrap {
    border: 1px solid #191919;
    width: 100%;
    height: 600px;
    margin: auto;
    margin-top: 50px;
    position: relative;
    overflow: hidden;
    border-right: 20px solid #191919;
    border-left: 20px solid #191919;
    border-bottom: 8px solid #191919;
}

.water {
    background-color: rgba(61, 124, 241, 0.09);
    border-top: 1px solid #191919;
    border-bottom: 1px solid #191919;
    height: 559px;
    position: absolute;
    top: 30px;
    width: 100%;
    z-index: 160;
}

.fishtank {
    box-shadow: 0 -10px 24px rgb(87, 87, 62) inset, 0 -100px 134px rgb(220, 220, 220) inset;
    height: 100%;
    width: 100%;
}

.ground {
    background-color: #B19975;
    border-bottom: 20px solid #655848;
    height: 50px;
    position: absolute;
    top: 530px;
    width: 100%;
    z-index: 25;
    box-shadow: 0 13px 19px rgba(228, 70, 7, 0.349) inset;
    
}


/*rocks*/

.rock_1 {
    background-color: #956F53;
    border-radius: 120px 20px 20px 20px;
    height: 115px;
    left: 75%;
    position: absolute;
    top: 438px;
    width: 138px;
    box-shadow: 3px -6px 2px #292828 inset, -13px -34px 49px #292828 inset;
    z-index: 30;
}

.rock_2 {
    border: 1px solid #252424;
    background-color: #604F46;
    border-radius: 57px 84px 13px 13px;
    height: 115px;
    left: 81%;
    position: absolute;
    top: 438px;
    width: 128px;
    box-shadow: 11px 14px 23px #171717, -83px -37px 25px #292828 inset;
    z-index: 30;
}

.rock_2:after {
    background-color: #604F46;
    border-radius: 57px 0 57px 0;
    box-shadow: -11px 15px 22px #171717, 9px -27px 34px #292828 inset;
    content: "";
    height: 60px;
    left: 34px;
    position: absolute;
    top: 51px;
    width: 165px;
    border: 1px solid #252424;
}

.rock_3 {
    border: 1px solid #252424;
    background-color: #956F53;
    border-radius: 151px 20px 137px 51px;
    height: 52px;
    left: 88%;
    position: absolute;
    top: 523px;
    width: 97px;
    z-index: 50;
    box-shadow: 1px -2px 8px #171717, 1px -18px 18px #292828 inset;
}

.rock_3:before {
    border: 1px solid #252424;
    transform: rotate(186deg);
    background-color: #A37F64;
    border-radius: 121px 20px 137px 51px;
    content: "";
    height: 41px;
    left: -50px;
    position: absolute;
    top: 9px;
    width: 80px;
    box-shadow: -1px 4px 8px #171717, 4px 3px 18px #292828 inset;
}

.rock_3:after {
    border: 1px solid #252424;
    background-color: #78604E;
    border-radius: 60px 80px 30px 40px;
    content: "";
    box-shadow: -4px 3px 6px #171717, 10px -7px 17px #292828 inset;
    transform: skewX(22deg) skewY(-5deg);
    height: 48px;
    left: 70px;
    position: absolute;
    top: -12px;
    width: 120px;
}

.rock_4 {
    transform: rotate(19deg);
    background-color: #956F53;
    border-radius: 121px 19px 50px 18px;
    box-shadow: 1px 4px 8px #171717, -6px -8px 12px #292828 inset;
    height: 252px;
    left: 227px;
    position: absolute;
    top: 310px;
    width: 107px;
    border: 1px solid #252424;
    z-index: 100;
}

.rock_4:before {
    transform: rotate(89deg);
    background-color: #A37F64;
    border-radius: 191px 106px 137px 1px;
    box-shadow: 6px -27px 23px #473827 inset;
    content: "";
    height: 44px;
    left: 7px;
    position: absolute;
    top: 91px;
    width: 228px;
    border: 1px solid #252424;
}

.rock_4:after {
    background-color: #78604E;
    border-radius: 121px 20px 137px 51px;
    box-shadow: 5px 1px 4px #171717, -8px -7px 18px #292828 inset;
    content: "";
    height: 63px;
    left: 232px;
    position: absolute;
    top: 128px;
    width: 87px;
    border: 1px solid #252424;
}

.rock_5 {
    border: 1px ridge #252424;
    transform: rotate(52deg) skewX(-3deg);
    background-color: #956F53;
    border-radius: 121px 20px 137px 51px;
    box-shadow: 3px 2px 7px #171717, -14px -18px 30px #292828 inset;
    height: 84px;
    left: 95px;
    position: absolute;
    top: 490px;
    width: 77px;
    z-index: 100;
}

.rock_5:before {
    transform: rotate(217deg);
    background-color: #A37F64;
    border: 1px solid #252424;
    border-radius: 21px 20px 117px 51px;
    box-shadow: -8px 1px 8px #212020, 5px -2px 15px #292828 inset;
    content: "";
    height: 144px;
    left: -40px;
    position: absolute;
    top: 5px;
    width: 82px;
}

.rock_5:after {
    transform: skewX(-6deg) rotate(114deg);
    background-color: #78604E;
    border: 1px solid #252424;
    border-radius: 40px 102px 104px 109px;
    box-shadow: 2px -1px 7px #171717, -5px 10px 20px #292828 inset;
    content: "";
    height: 57px;
    left: 91px;
    position: absolute;
    top: -147px;
    width: 125px;
}


/*end of rocks*/


/*plants*/

.plant_1_wrap {
    position: absolute;
    left: 676px;
    z-index: 40;
}

.plant_1 {
    transform: rotate(-15deg);
    background-color: #3D8F39;
    border: 1px solid #252424;
    border-radius: 260px 30px 260px 17px;
    box-shadow: -4px -5px 8px #292828 inset;
    height: 214px;
    left: 455px;
    position: absolute;
    top: 350px;
    width: 43px;
}

.plant_1:after {
    border: 1px solid #252424;
    box-shadow: 0 10px 11px #292828;
    content: "";
    height: 179px;
    left: 20px;
    position: absolute;
    top: 19px;
    width: 2px;
}

.plant_2 {
    background-color: rgb(11, 88, 7);
    border: 1px solid #252424;
    border-radius: 260px 30px 260px 17px;
    box-shadow: -4px -5px 8px #292828 inset;
    height: 176px;
    left: 492px;
    position: absolute;
    top: 379px;
    width: 71px;
}

.plant_2:after {
    border: 1px solid #252424;
    box-shadow: 0 10px 11px #292828;
    content: "";
    height: 135px;
    left: 29px;
    position: absolute;
    top: 19px;
    width: 2px;
}

.plant_3 {
    background-color: #33852F;
    border: 1px solid #252424;
    border-radius: 260px 30px 260px 17px;
    box-shadow: -4px -5px 8px #292828 inset;
    height: 153px;
    left: 549px;
    position: absolute;
    top: 403px;
    width: 39px;
}

.plant_3:after {
    border: 1px solid #252424;
    box-shadow: 0 10px 11px #292828;
    content: "";
    height: 112px;
    left: 14px;
    position: absolute;
    top: 19px;
    width: 2px;
}


/*plant 2*/

.plant_2_wrap {
    position: absolute;
    left: 101px;
    z-index: 40;
}

.plant_4 {
    background-color: #33852F;
    border: 1px solid #252424;
    border-radius: 260px 30px 260px 17px;
    box-shadow: -4px -5px 8px #292828 inset;
    height: 335px;
    left: -9px;
    position: absolute;
    top: 380px;
    width: 39px;
}

.plant_4:after {
    border: 1px solid #252424;
    box-shadow: 0 10px 11px #292828;
    content: "";
    height: 312px;
    left: 14px;
    position: absolute;
    top: 19px;
    width: 2px;
}

.plant_5 {
    background-color: rgb(16, 87, 13);
    border: 1px solid #252424;
    border-radius: 260px 30px 260px 17px;
    box-shadow: -4px -5px 8px #292828 inset;
    height: 355px;
    left: 39px;
    position: absolute;
    top: 220px;
    width: 39px;
}

.plant_5:after {
    border: 1px solid #252424;
    box-shadow: 0 10px 11px #292828;
    content: "";
    height: 312px;
    left: 14px;
    position: absolute;
    top: 19px;
    width: 2px;
}

/*start of long plant*/

.long_plant2 {
    transform: rotate(13deg);
    height: 298px;
    left: 468px;
    margin: auto;
    position: absolute;
    top: 241px;
    width: 100px;
    z-index: 98;
}

.long_plant {
    transform: rotate(-13deg);
    height: 298px;
    left: 400px;
    margin: auto;
    position: absolute;
    top: 256px;
    width: 100px;
    z-index: 25;
}

.l_plant_1 {
    border-radius: 40px 40px 40px 40px;
    border-right: 12px groove green;
    height: 90px;
    position: absolute;
    top: -1px;
    width: 62px;
}

.l_plant_1:after {
    transform: rotate(-32deg) skewX(-9deg) skewY(32deg);
    background-color: #1E4E1D;
    border-radius: 40px 40px 8px 80px;
    box-shadow: 5px 3px 5px #1A2C1D inset;
    content: "";
    height: 47px;
    left: 25px;
    position: absolute;
    top: 31px;
    width: 25px;
}

.l_plant_1:before {
    transform: rotate(16deg) skewX(-9deg) skewY(-32deg);
    background-color: #7fbf7f;
    border-radius: 40px 40px 80px 8px;
    box-shadow: -9px 2px 7px #233A27 inset;
    content: "";
    height: 43px;
    left: 83px;
    position: absolute;
    top: 8px;
    width: 25px;
}

.l_plant_2 {
    border-left: 12px ridge green;
    border-radius: 40px 40px 40px 40px;
    height: 111px;
    left: 24px;
    position: absolute;
    top: 83px;
    width: 70px;
}

.l_plant_2:after {
    transform: rotate(-32deg) skewX(-9deg) skewY(32deg);
    background-color: #7FBF7F;
    border-radius: 40px 40px 8px 80px;
    box-shadow: 5px 3px 7px #233A27 inset;
    content: "";
    height: 50px;
    left: -46px;
    position: absolute;
    top: 19px;
    width: 25px;
}

.l_plant_2:before {
    transform: rotate(16deg) skewX(-9deg) skewY(-32deg);
    background-color: #1E4E1D;
    border-radius: 40px 40px 80px 8px;
    box-shadow: -11px 6px 11px #103016 inset;
    content: "";
    height: 58px;
    left: 14px;
    position: absolute;
    top: 32px;
    width: 26px;
}

.l_plant_3 {
    border-radius: 40px 40px 40px 40px;
    border-right: 12px groove green;
    height: 111px;
    position: absolute;
    top: 187px;
    width: 62px;
}

.l_plant_3:after {
    transform: rotate(-32deg) skewX(-9deg) skewY(32deg);
    background-color: #1E4E1D;
    border-radius: 40px 40px 8px 80px;
    box-shadow: 4px 2px 5px #1A2C1D inset;
    content: "";
    height: 47px;
    left: 30px;
    position: absolute;
    top: 23px;
    width: 25px;
}

.l_plant_3:before {
    transform: rotate(16deg) skewX(-9deg) skewY(-32deg);
    background-color: #7FBF7F;
    border-radius: 130px 40px 165px 23px;
    box-shadow: -9px 2px 7px #233A27 inset;
    content: "";
    height: 55px;
    left: 82px;
    position: absolute;
    top: -5px;
    width: 28px;
}

/*end of long plant*/

.bubble_wrap {
    height: 499px;
    left: 7px;
    position: absolute;
    top: 230px;
    width: 200px;
}

.bubbles {
    background-color: rgba(255, 255, 255, 0.16);
    border: 1px solid #585858;
    border-radius: 100px 100px 100px 100px;
    height: 20px;
    left: 33px;
    position: absolute;
    top: 260px;
    width: 20px;
}

.b2 {
    left: 50px;
    top: 60px;
}

.b3 {
    left: 60px;
    top: 260px;
}

.b4 {
    left: 80px;
    top: 260px;
}

.b5 {
    left: 90px;
    top: 260px;
}


/*start of plant animations*/

.long_plant2 {
    left: 450px;
    transform-origin: center bottom;
    animation-name: l_plant2;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes l_plant2 {
    from {
        transform: rotate(13deg);
    }
    50% {
        transform: rotate(-4deg);
    }
    to {
        transform: rotate(13deg);
    }
}

.long_plant {
    transform-origin: center bottom;
    animation-name: l_plant;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes l_plant {
    from {
        transform: rotate(-13deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    to {
        transform: rotate(-13deg);
    }
}

.plant_2 {
    transform-origin: center bottom;
    animation-name: plant2;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes plant2 {
    from {
        transform: rotate(-7deg);
    }
    50% {
        transform: rotate(13deg);
    }
    to {
        transform: rotate(-7deg);
    }
}

.plant_3 {
    transform-origin: center bottom;
    animation-name: plant3;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes plant3 {
    from {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(12deg);
    }
    to {
        transform: rotate(-5deg);
    }
}

.plant_4 {
    left: -6px;
    top: 190px;
    transform-origin: center bottom;
    animation-name: plant4;
    animation-duration: 14.98s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes plant4 {
    from {
        transform: rotate(-10deg);
    }
    45% {
        transform: rotate(-16deg);
    }
    50% {
        transform: rotate(-2deg);
    }
    to {
        transform: rotate(-10deg);
    }
}

.plant_5 {
    left: 40px;
    top: 200px;
    transform-origin: center bottom;
    animation-name: plant5;
    animation-duration: 14.98s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes plant5 {
    from {
        transform: rotate(5deg);
    }
    45% {
        transform: rotate(8deg);
    }
    50% {
        transform: rotate(20deg);
    }
    to {
        transform: rotate(5deg);
    }
}

/*end of plant animations*/


/*start of bubble animations*/

.b0 {
    animation-name: bubbles;
    animation-delay: .1s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;    
}

@keyframes bubbles {
    from {
        top: 260px;
        left: 33px;
    }
    50% {
        left: 39px;
    }
    to {
        top: -50px;
        left: 33px;
    }
}

.b1 {
    animation-name: bubbles;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes bubbles {
    from {
        top: 260px;
    }
    to {
        top: 0px;
    }
}

.b2 {
    animation-name: bubbles;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes bubbles {
    from {
        top: 260px;
    }
    to {
        top: 0px;
    }
}

.b3 {
    animation-name: bubbles;
    animation-delay: 500s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes bubbles {
    from {
        top: 260px;
        left: 60px;
    }
    25% {
        left: 30px;
    }
    50% {
        left: 58px;
    }
    75% {
        left: 37px;
    }
    to {
        top: 0px;
        left: 60px;
    }
}

.b4 {
    animation-name: bubbles;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes bubbles {
    from {
        top: 260px;
    }
    to {
        top: 0px;
    }
}

.b5 {
    animation-name: bubbles;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes bubbles {
    from {
        top: 260px;
    }
    to {
        top: 0px;
    }
}

/*tail bubbles*/

.b6,
.b7,
.b8 {
    opacity: 0;
}

.b6,
.b8 {
    transform: scale(0.5);
}

.b7 {
    transform: scale(0.8);
}

.bw2 {
    width: 80px;
    animation-name: tail_bubbles;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes tail_bubbles {
    from {
        left: 30px;
    }
    48% {
        left: 30px;
    }
    50.5% {
        left: 760px;
    }
    65% {
        left: 760px;
    }
    70.5% {
        left: 30px;
    }
    78% {
        left: 30px;
    }
    82.5% {
        left: 720px;
    }
    92% {
        left: 720px;
    }
    to {
        left: 30px;
    }
}

.b6 {
    animation-name: tail_bubble1;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes tail_bubble1 {
    from {
        left: 30px;
        top: 205px;
    }
    20.5% {
        opacity: 0;
    }
    21% {
        left: 30px;
        top: 205px;
        opacity: 1;
    }
    26% {
        opacity: 1;
        left: 60px;
        top: 105px;
    }
    26.3% {
        opacity: 0;
    }
    40% {
        left: 60px;
        top: 205px;
    }
    50% {
        opacity: 0;
    }
    50.5% {
        opacity: 1;
        left: 60px;
        top: 205px;
    }
    54.3% {
        opacity: 0;
    }
    55% {
        left: 60px;
        top: 105px;
    }
    65% {
        left: 60px;
    }
    70% {
        opacity: 0;
    }
    70.5% {
        opacity: 1;
        left: 30px;
        top: 210px;
    }
    73.3% {
        opacity: 0;
    }
    73% {
        left: 30px;
        top: 105px;
    }
    78% {
        left: 30px;
    }
    82.3% {
        opacity: 0;
    }
    82.5% {
        opacity: 1;
        left: 20px;
        top: 150px;
    }
    86.3% {
        opacity: 0;
    }
    87% {
        left: 20px;
        top: 30px;
    }
    92% {
        left: 20px;
    }
    to {
        left: 30px;
    }
}

.b7 {
    animation-name: tail_bubble2;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes tail_bubble2 {
    from {
        left: 30px;
        top: 205px;
    }
    20.5% {
        opacity: 0;
    }
    21% {
        /*turn one*/
        opacity: 1;
        left: 30px;
        top: 205px;
    }
    25.5% {
        opacity: 0;
    }
    26% {
        left: -30px;
        top: 105px;
    }
    40% {
        left: 30px;
        top: 205px;
    }
    49.5% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        left: 30px;
        top: 205px;
    }
    53% {
        left: 70px;
        top: 80px;
    }
    54.3% {
        opacity: 0;
    }
    65% {
        left: 30px;
    }
    69.5% {
        opacity: 0;
    }
    70.5% {
        opacity: 1;
        left: 30px;
        top: 210px;
    }
    73% {
        left: 70px;
        top: 55px;
    }
    73.5% {
        opacity: 0;
    }
    78% {
        left: 30px;
    }
    82% {
        opacity: 0;
    }
    82.5% {
        opacity: 1;
        left: 50px;
        top: 150px;
    }
    86.3% {
        opacity: 0;
    }
    87% {
        left: -20px;
        top: 30px;
    }
    92% {
        left: 20px;
    }
    to {
        left: 30px;
    }
}

.b8 {
    animation-name: tail_bubble3;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes tail_bubble3 {
    from {
        left: 50px;
        top: 205px;
    }
    20.5% {
        opacity: 0;
    }
    21% {
        opacity: 1;
        left: 30px;
        top: 205px;
    }
    25.5% {
        opacity: 0;
    }
    26% {
        left: 30px;
        top: 105px;
    }
    40% {
        left: 30px;
        top: 205px;
    }
    49.5% {
        opacity: 0;
    }
    50.5% {
        opacity: 1;
        left: 50px;
        top: 205px;
    }
    53% {
        left: 40px;
        top: 80px;
    }
    54.3% {
        opacity: 0;
    }
    65% {
        left: 40px;
    }
    69.5% {
        opacity: 0;
    }
    70.5% {
        opacity: 1;
        left: 40px;
        top: 210px;
    }
    73% {
        left: -20px;
        top: 55px;
    }
    73.5% {
        opacity: 0;
    }
    78% {
        left: 40px;
    }
    82% {
        opacity: 0;
    }
    82.5% {
        opacity: 1;
        left: 20px;
        top: 150px;
    }
    86.3% {
        opacity: 0;
    }
    87% {
        left: 60px;
        top: 30px;
    }
    92% {
        left: 30px;
    }
    to {
        left: 30px;
    }
}

/*end of bubble animations*/


/*table*/

.table {
    background-color: #282320;
    border-bottom: 22px double #433A32;
    box-shadow: 0 11px 60px #060505 inset;
    height: 140px;
    margin-top: -180px;
    z-index: 2;
}