@keyframes originCheckLeftRight {
    from {
        left:0%;
        transform: scaleX(1);
    }
    20% {
        left:25%;
    }
    40% {
        left:50%;
        transform: scaleX(-1);
    }
    60% {
        left:75%;
    }
    80% {
        left:100%;
    }
    to {
        left:0%;
        transform: scaleX(1);
    }
}
@keyframes originCheckUpDown {
    from {
        top:0vh;
        transform: scaleX(1);
    }
    20% {
        top:10vh;
    }
    40% {
        top:20vh;
        transform: scaleX(1);
    }
    41% {
        transform: scaleX(-1);
    }
    60% {
        top:30vh;
    }
    80% {
        top:40vh;
    }
    95% {
        transform: scaleX(1);
    }
    to {
        transform: scaleX(1);
        top:0vh;
    }
}
@keyframes a1b {
    from {
        left:10%;
        top:5vh;
    }
    25% {

    }
    50% {

    }
    75% {

    }
    to {
        left:30%;
        top:25vh;
    }
}
@keyframes a2b {
    from {
        left:10%;
        top:5vh;
    }
    25% {

    }
    50% {

    }
    75% {

    }
    to {
        left:30%;
        top:25vh;
    }
}
@keyframes a3b {
    from {
        left:10%;
        top:5vh;
    }
    25% {

    }
    50% {

    }
    75% {

    }
    to {
        left:30%;
        top:25vh;
    }
}
@keyframes b1c {
    from {
        left:30%;
        top:25vh;
    }
    25% {

    }
    50% {

    }
    75% {
        
    }
    to {
        left:15%;
        top:35vh;
    }
}
@keyframes b2c {
    from {
        left:30%;
        top:25vh;
    }
    25% {

    }
    50% {

    }
    75% {
        
    }
    to {
        left:15%;
        top:35vh;
    }
}
@keyframes b3c {
    from {
        left:30%;
        top:25vh;
    }
    25% {

    }
    50% {

    }
    75% {
        
    }
    to {
        left:15%;
        top:35vh;
    }
}
@keyframes c1d {
    from {
        left:15%;
        top:35vh;
    }
    25% {

    }
    50% {

    }
    75% {
        
    }
    to {
        left:70%;
        top:30vh;
    }
}
@keyframes c2d {
    from {
        left:15%;
        top:35vh;
    }
    25% {

    }
    50% {

    }
    75% {
        
    }
    to {
        left:70%;
        top:30vh;
    }
}
@keyframes c3d {
    from {
        left:15%;
        top:35vh;
    }
    25% {

    }
    50% {

    }
    75% {
        
    }
    to {
        left:70%;
        top:30vh;
    }
}
@keyframes d1e {
    from {
        left:70%;
        top:30vh;
    }
    25% {

    }
    50% {

    }
    75% {
        
    }
    to {
        left:55%;
        top:20vh;
    }
}
@keyframes d2e {
    from {
        left:70%;
        top:30vh;
    }
    25% {

    }
    50% {

    }
    75% {
        
    }
    to {
        left:55%;
        top:20vh;
    }
}
@keyframes d3e {
    from {
        left:70%;
        top:30vh;
    }
    25% {

    }
    50% {

    }
    75% {
        
    }
    to {
        left:55%;
        top:20vh;
    }
}
@keyframes e1a {
    from {
        left:55%;
        top:20vh;
    }
    25% {

    }
    50% {

    }
    75% {
        
    }
    to {
        left:10%;
        top:5vh;
    }
}
@keyframes e2a {
    from {
        left:55%;
        top:20vh;
    }
    25% {

    }
    50% {

    }
    75% {
        
    }
    to {
        left:10%;
        top:5vh;
    }
}
@keyframes e3a {
    from {
        left:55%;
        top:20vh;
    }
    25% {

    }
    50% {

    }
    75% {
        
    }
    to {
        left:10%;
        top:5vh;
    }
}