/* @keyframes swim1 {
    from {
        transform: scale3d(1);
        left: 1000px;
        top:15px;
    }

     10% {
        left: 150px;
        top: -60px;
        transform: scale3d(1);
        z-index: 90;
    }

    12% {
        transform: scale3d(1);
        top: -10px;
        z-index: 10;
    }

    15% {
        left: 125px;
        top: 5px;
        z-index: auto;
    }

    20% {
        left: 0px;
        transform: scale3d(-1);
        z-index: 10;
    } 

    20.5% {
        transform: scaleX(1);
        z-index: 10;
        left: -30px;
    }

    25% {
        left: 15px;
    }

    30% {
        left: 45px;
        top: 12px;
    }

    33.5% {
        left: -75px;
    }

    40% {
        left: -10px;
    } 

    50% {
        z-index: 28;
        top: 130px;
        left: -10px;
        transform: scaleX(-1);
    }
    50.5% {
        transform: scaleX(-1);
        z-index: 100;
        left: 0px;
        top: 160px;
    }
   
    60% {
        left: 70px;
        z-index: 150;
    }

    61% {
        left: 115px;
        z-index: 90;
        transform: scaleX(-1);
    }
    68% {
        left: 155px;
    }

    75% {
        left: 255px;
    }

    80% {
        left: 800px;
    }

    85% {
        left: 825px;
    }
     87% {
        left: 840px;
        top: 6px;
    }
    90%{
        left: 875px;
        top: 8px;
    } 
    92% {
        transform: scaleX(-1);
        top: 10px;
    }
    92.5% {
        top: 12px;
        left: 925px;
    }
    94% {
        left: 935px;
    }
    95% {
        left: 960px;
    }
    95.5% {
        left: 960px;
        top: 13px;
    }
    96% {
        left: 1000px;
        top: 15px;
    }
    98% {
        transform: scale3d(1);
    }
    to {
        transform: scaleX(-1);
        left: 1000px;
        z-index: 90;
    }
}

@keyframes swim2 {
    from {
        transform: scale3d(1);
        left: 500px;
        top:-175px;
    }
    5% {
        left: 488px;
    }
    12% {
        left: 488px;
        top: -190px;
    }
    22% {
        left: 425px;
        top: -125px;
    }
    28% {
        left: 407px;
        top: -95px;
    }
    33% {
        transform: scale3d(-1);
        left: 802px;
        top: -50px;
    }
    45% {
        left:802px;
        top: 0px;
    }
    48% {
        top: 25px;
    }
    49% {
        top: 43px;
    }
    55% {
        left: 625px;
        top: 75px;
    }
    68% {
        left: 555px;
    }

    75% {
        left: 500px;
        top: 25px;
    }
    83% {
        top: -25px;
    }
    93% {
        top: -155px;
    }
    97% {
        top: -168px;
    }
    to {
        transform: scaleX(1);
        left: 500px;
        top: -175px;
        z-index: 90;
    }
} */

@keyframes originCheckLeftRight {
    from {
        left:0%;
        transform: scaleX(1);
    }
    20% {
        left:25%;
    }
    40% {
        left:50%;
        transform: scaleX(-1);
    }
    60% {
        left:75%;
    }
    80% {
        left:100%;
    }
    to {
        left:0%;
        transform: scaleX(1);
    }
}

@keyframes originCheckUpDown {
    from {
        top:0vh;
        transform: scaleX(1);
    }
    20% {
        top:10vh;
    }
    40% {
        top:20vh;
        transform: scaleX(1);
    }
    41% {
        transform: scaleX(-1);
    }
    60% {
        top:30vh;
    }
    80% {
        top:40vh;
    }
    95% {
        transform: scaleX(1);
    }
    to {
        transform: scaleX(1);
        top:0vh;
    }
}

@keyframes a1b {
    from {
        left:10%;
        top:5vh;
    }
    25% {

    }
    50% {

    }
    75% {

    }
    to {
        left:60%;
        top:25vh;
    }
}
@keyframes b1c {
    from {
        left:60%;
        top:25vh;
    }
    25% {

    }
    50% {

    }
    75% {
        
    }
    to {
        left:15%;
        top:35vh;
    }
}
@keyframes c1d {
    from {
        left:15%;
        top:35vh;
    }
    25% {

    }
    50% {

    }
    75% {
        
    }
    to {
        left:70%;
        top:30vh;
    }
}
@keyframes d1e {
    from {
        left:70%;
        top:30vh;
    }
    25% {

    }
    50% {

    }
    75% {
        
    }
    to {
        left:55%;
        top:20vh;
    }
}
@keyframes e1a {
    from {
        left:55%;
        top:20vh;
    }
    25% {

    }
    50% {

    }
    75% {
        
    }
    to {
        left:10%;
        top:5vh;
    }
}

@keyframes a2b {
    from {
        left:10%;
        top:5vh;
    }
    25% {

    }
    50% {

    }
    75% {

    }
    to {
        left:60%;
        top:25vh;
    }
}
@keyframes b2c {
    from {
        left:60%;
        top:25vh;
    }
    25% {

    }
    50% {

    }
    75% {
        
    }
    to {
        left:15%;
        top:35vh;
    }
}
@keyframes c2d {
    from {
        left:15%;
        top:35vh;
    }
    25% {

    }
    50% {

    }
    75% {
        
    }
    to {
        left:70%;
        top:30vh;
    }
}
@keyframes d2e {
    from {
        left:70%;
        top:30vh;
    }
    25% {

    }
    50% {

    }
    75% {
        
    }
    to {
        left:55%;
        top:20vh;
    }
}
@keyframes e2a {
    from {
        left:55%;
        top:20vh;
    }
    25% {

    }
    50% {

    }
    75% {
        
    }
    to {
        left:10%;
        top:5vh;
    }
}

@keyframes a3b {
    from {
        left:10%;
        top:5vh;
    }
    25% {

    }
    50% {

    }
    75% {

    }
    to {
        left:60%;
        top:25vh;
    }
}
@keyframes b3c {
    from {
        left:60%;
        top:25vh;
    }
    25% {

    }
    50% {

    }
    75% {
        
    }
    to {
        left:15%;
        top:35vh;
    }
}
@keyframes c3d {
    from {
        left:15%;
        top:35vh;
    }
    25% {

    }
    50% {

    }
    75% {
        
    }
    to {
        left:70%;
        top:30vh;
    }
}
@keyframes d3e {
    from {
        left:70%;
        top:30vh;
    }
    25% {

    }
    50% {

    }
    75% {
        
    }
    to {
        left:55%;
        top:20vh;
    }
}
@keyframes e3a {
    from {
        left:55%;
        top:20vh;
    }
    25% {

    }
    50% {

    }
    75% {
        
    }
    to {
        left:10%;
        top:5vh;
    }
}