.nav-extended{
    background-color: black
}

.store1 {
    height: 40px;
    /* background-image: url("../Images/fish/store2.png"); */
    min-height: 380px;
}

.logo {
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(to right, #3a4749, rgb(20, 129, 129));
    color: aliceblue;
}

.green {
    border-radius: 20px;
}

.red {
    border-radius: 20px;
}

.orange {
    border-radius: 20px;
}

.buy-fish-div {
    font-size: 20px;
}
