
.fish_wrap2 {
    height: 230px;
    left: 1000px;
    position: absolute;
    top: 305px;
    width: 355px;
    z-index: 90;
}

.fish2 {
    transform: rotate(-37deg);
}

.fish_body2 {
    transform: skewX(30deg) skewY(5deg);
    /* background: linear-gradient(225deg, rgb(242,237,136), 62.5%, rgb(225,225,225)); */
    /* background-image: radial-gradient(black 6px, rgb(var(--colorTwoR), var(--colorTwoG), var(--colorTwoB)) 2px); */
    background-image: radial-gradient(rgb(var(--colorOneR),99,101) 6px, rgb(25,50,75) 2px);
    background-size:40px 40px;
    /* background-image: radial-gradient(black 10%, transparent 0%, rgb(242,237,136), rgb(225,225,225)); */
    border-radius: 1500px 1200px 757px 553px; /*orig*/
    box-shadow: 6px -12px 15px #3A2104 inset, -2px -3px 4px #281602 inset;
    height: 144px;
    position: absolute;
    top: 260px;
    width: 184px;
}

.eye2 {
    transform: rotate(50deg);
    background-color: rgb(216, 214, 214);
    border: 1px solid #323232;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 4px 3px #3D270A;
    height: 27px;
    left: 80px;
    position: absolute;
    top: 10px;
    width: 10px;
}

.eye2:before {
    /*fish eye pupil*/
    border: 2px solid #01090a;
    border-radius: 10px 10px 10px 10px;
    content: "";
    height: 7px;
    left: 1px;
    position: absolute;
    top: 11px;
    width: 2px;
}

.scale_1_2 {
    transform: rotate(35deg);
    border-radius: 60px 60px 60px 60px;
    border-right: 2px solid #432801;
    height: 28px;
    left: 68px;
    position: absolute;
    top: 8px;
    width: 36px;
}

.scale_2_2 {
    transform: rotate(35deg);
    border-radius: 60px 60px 60px 60px;
    border-right: 2px solid #432801;
    height: 28px;
    left: 60px;
    position: absolute;
    top: 27px;
    width: 36px;
}

.scale_3_2 {
    transform: rotate(35deg);    
    border-radius: 60px 60px 60px 60px;   
    border-right: 2px solid #432801;
    height: 28px;
    left: 77px;
    position: absolute;
    top: 19px;
    width: 36px;
}

.scale_4_2 {
    transform: rotate(35deg);    
    border-radius: 60px 60px 60px 60px;    
    border-right: 2px solid #432801;
    box-shadow: -5px -1px 4px black inset;    
    height: 32px;
    left: 63px;
    position: absolute;
    top: 29px;
    width: 19px;
}

.tail_fin2 {
    transform: skewX(30deg) skewY(5deg);    
    background-color: rgb(236, 241, 234);
    border-radius: 200px 112px 47px 62px;    
    box-shadow: -15px -7px 9px #000604 inset;    
    height: 32px;
    left: 191px;
    position: absolute;
    top: 381px;
    width: 42px;
}

.tail_fin2:before {
    transform: skewX(30deg) skewY(5deg);   
    background-color: rgb(236, 241, 234);
    border-radius: 62px 112px 112px 200px;
    box-shadow: 6px 13px 9px #2F1E01 inset, -6px -7px 2px black inset;
    content: "";
    height: 32px;
    left: -12px;
    position: absolute;
    top: 28px;
    width: 38px;
}

/* start of fish animation */

.fish_wrap2 {
    left: 200px;
    top: 105px;
    z-index: 100;
    animation: swim2 var(--animation-time) ease infinite;
    /* animation-name: swim2;
    animation-duration: 15s;
    animation-iteration-count: infinite; */
 }

@keyframes swim2 {
    from {
        transform: scale3d(1);
        left: 500px;
        top:-175px;
    }
    5% {
        left: 488px;
    }
    12% {
        left: 488px;
        top: -190px;
    }
    22% {
        left: 425px;
        top: -125px;
    }
    28% {
        left: 407px;
        top: -95px;
    }
    33% {
        transform: scale3d(-1);
        left: 802px;
        top: -50px;
    }
    45% {
        left:802px;
        top: 0px;
    }
    48% {
        top: 25px;
    }
    49% {
        top: 43px;
    }
    55% {
        left: 625px;
        top: 75px;
    }
    68% {
        left: 555px;
    }

    75% {
        left: 500px;
        top: 25px;
    }
    83% {
        top: -25px;
    }
    93% {
        top: -155px;
    }
    97% {
        top: -168px;
    }
    to {
        transform: scaleX(1);
        left: 500px;
        top: -175px;
        z-index: 90;
    }
}

/*end of fish path */

.tail_fin2 {
    animation-name: tail2;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

@keyframes tail2 {
    from {
        transform: scale(.8)skewY(2deg);
    }
    50% {
        transform: scale(.7)skewY(20deg);
    }
    to {
        transform: scale(.8)skewY(2deg);
    }
}
/*end of tail fin*/

.scale_4_2 {
    /*mid fin*/
    animation-name: midfin2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes midfin2 {
    from {
        transform: scale(.8)rotate(15deg);
    }
    50% {
        transform: scale(.6)skewY(30deg)rotate(15deg);
    }
    80% {
        transform: scale(.8)skewY(10deg)rotate(25deg);
    }
    to {
        transform: scale(.8)skewY(10deg)rotate(15deg);
    }
}
/*end of mid fin*/

.eye2 {
    /*blink effect*/
    animation-name: blink2;
    animation-duration: 5.7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;   
}

@keyframes blink2 {
    from {
        background-color: white;
    }
    49% {
        background-color: white;
        height: 27px;
        width: 10px;
    }
    50% {
        background-color: #070707;
        height: 20px;
        width: 5px;
    }
    52% {
        background-color: white;
        height: 27px;
        width: 10px;
    }
    to {
        background-color: white;
    }
}


